header {
  position: fixed;  /* Fixes the header at the top */
  top: 0;
  left: 0;
  width: 100%;      /* Full width */
  z-index: 1000;    /* Ensures it’s on top of other elements */
}

body {
  padding-top: 148px; /* same height as your header */
  background-color: var(--background-color);
  height: 100%;
}