<div class="wrapper">
  <nz-timeline>
    <nz-timeline-item nzColor="green">
      <div class="experience">
        <div class="description" scrollAnimate [delay]="200">
          <h1>Développeur Fullstack</h1>
          <h2>SAP - Alternance - Septembre 2022 - Août 2025</h2>
        </div>
        <div class="container">
          <img scrollAnimate [delay]="200" src="assets/Sap-Logo.png" alt="Logo de SAP">
        </div>
      </div>
    </nz-timeline-item>
    <nz-timeline-item nzColor="blue">
      <div class="experience">
        <div class="description" scrollAnimate [delay]="200">
          <h2 class="subtitle">Assurance Qualité — 12 mois</h2>
          <ul>
            <li>Conception et exécution de tests de validation des correctifs de bugs, de non-régression et des tests plans de nouvelles fonctionnalités, afin d’assurer la qualité et la stabilité de l’application.</li>
            <li>Développement de tests automatisés back-end E2E, en utilisant Java et JUnit, afin de garantir le bon fonctionnement des processus métier dans leur intégralité.</li>
            <li>Suivi des tests automatisés back-end sur les pipelines Jenkins, analyse des échecs et investigation des causes, correction des tests ou remontée des anomalies dans JIRA.</li>
          </ul>
          <section class="competence">
            <p>Méthodologies de test</p>
            <p>APIs RESTful</p>
            <p>Automatisation des tests</p>
            <p>Java</p>
            <p>Junit</p>
            <p>Mockito</p>
            <p>Jenkins</p>
          </section >
        </div>
        <div class="container">
          <img scrollAnimate [delay]="200" src="assets/Junit5-Logo.png" alt="Logo de Junit">
          <img scrollAnimate [delay]="200" src="assets/Java-Logo.png" alt="Logo de Java">
        </div>
      </div>
    </nz-timeline-item>
  </nz-timeline>
</div>
