<div class="split-container">
  <div class="left">
    <div class="intro">
      Hello, je suis
    </div>
    <div class="name">
      Quentin WESSER
    </div>
    <div class="title">
      Ingénieur Fullstack
    </div>
    <div class="text">
      J'aime donner vie à des idées en créant des applications. Chaque projet est un défi à relever, où je résous des problèmes concrets tout en explorant de nouvelles technologies et en améliorant l’expérience utilisateur.
    </div>
  </div>
  <div class="divider"></div>
  <div class="right">
    <img src="assets/profil.png" alt="profil">
  </div>
</div>