<div class="split-container">
  <div class="left">
    <p scrollAnimate class="intro">Hello, je suis</p>
    <h1 scrollAnimate [delay]='100'>Quentin WESSER</h1>
    <h2 scrollAnimate [delay]='200'>Ingénieur Fullstack</h2>
    <p scrollAnimate [delay]='300' class="text">
      J'aime donner vie à des idées en créant des applications. Chaque projet est un défi à relever, où je résous des problèmes concrets tout en explorant de nouvelles technologies et en améliorant l’expérience utilisateur.
    </p>
  </div>
  <div class="divider" aria-hidden="true"></div>
  <div class="right">
    <img imageAnimate src="assets/profil.png" alt="photo de profil">
  </div>
</div>