.split-container {
  display: flex;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 20px 20px 70px;

  .intro {
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
    transition: color 0.3s ease, background-color 0.3s ease;
    margin-bottom: -10px;
  }

  .name {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
    transition: color 0.3s ease, background-color 0.3s ease;
    margin-bottom: -12px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    color: var(--title);
    transition: color 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
  }

  .text {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-light-color);
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}

.right {
  flex: 1;

  img {
    margin: 20px 15%;
    width: 60%;
  }
}

.divider {
  margin: 10% 0;
  width: 3px;
  background-color: var(--divider);
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 6px;
}
