<div class="split-container">
  <div class="left">
    <div nz-row>
      <div nz-col nzSpan="12">
        <div class="round">
          <nz-icon nzType="api" nzTheme="outline" style="font-size: 80px;"/>
        </div>
        <p>Développement Backend & APIs</p>
      </div>
      <div nz-col nzSpan="12">
        <div class="round">
          <nz-icon nzType="desktop" nzTheme="outline" style="font-size: 80px;"/>
        </div>
        <p>Développement Frontend & UI</p>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <div class="round">
          <nz-icon nzType="bug" nzTheme="outline" style="font-size: 80px;"/>
        </div>
        <p>Assurance Qualité & Testing</p>
      </div>
      <div nz-col nzSpan="12">
        <div class="round">
          <nz-icon nzType="monitor" nzTheme="outline" style="font-size: 80px;"/>
        </div>
        <p>Monitoring & Support Applicatif</p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="right">
    <div class="title">
      Je suis Quentin WESSER, un Ingénieur Fullstack
    </div>
    <div class="text">
      Bienvenue sur mon portfolio ! Je suis un développeur curieux et motivé, animé par la création de projets concrets et utiles. J’aime découvrir et expérimenter de nouvelles technologies à travers la réalisation de projets variés, tout en explorant le design et l’architecture des applications pour les rendre claires, modulaires et évolutives.
      <br><br>
      En dehors du code, je suis passionné par l’escalade, la spéléologie, la randonnée en montagne, les jeux vidéo et les jeux de société. J’apprécie également le sport en général, qui me permet de rester actif et de partager de bons moments avec les autres.
    </div>
  </div>
</div>