<nz-layout>
  <nz-header>
    <div class="logo gradient-text">Quentin WESSER</div>
    <div class="right-part">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item [nzSelected]="activeAnchor() === 'accueil'" class="item">
          <button type="button" (click)="onGoTo('accueil')">Accueil</button>
        </li>
        <li nz-menu-item [nzSelected]="activeAnchor() === 'a-propos'" class="item">
          <button type="button" (click)="onGoTo('a-propos')">À propos</button>
        </li>
        <li nz-menu-item [nzSelected]="activeAnchor() === 'contact'" class="item">
          <button type="button" (click)="onGoTo('contact')">Contact</button>
        </li>
      </ul>
      <nz-switch [ngModel]="darkTheme()" (ngModelChange)="onChange($event)" nzCheckedChildren="Light" nzUnCheckedChildren="Dark"></nz-switch>
    </div>
  </nz-header>
</nz-layout>
