@import '../../node_modules/ng-zorro-antd/ng-zorro-antd';
@import "./themes/default";

:root {
  --secondary-color: #177ddc;
  --primary-color: #333333;
  --text-color: #333;
  --title: #777;
  --text-light-color: #777;
  --background-color: #fff;
  --component-background-color: #fff;
  --divider: #d4d4d4;
}